body  {
  background: #f3f3f3;
  margin: 12px 15px 12px 15px;
  font-family: sans-serif;
}

h1  {
  color: #ffffff;
  text-align: center;
  background: #09ca9f;
  padding: 24px 0 24px 0;
  border: 0;
  margin: 0 auto;
  margin-bottom: 24px;
}


.destinations.altcolor {
  background-color: #c2f2e3;
}

.destinations {
  margin: 24px 0 48px 0;
  padding: 0 20px 40px 20px;
  background-color: #c4defc;
}

.destinations h2 {
  font-size: 30px;
  color: black;
  border: none;
  margin: auto;
  padding: 24px 0 24px 0;
  text-align: center;
}

.destinations p {
  height: auto;
  position: relative;
  bottom: 0;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  padding: 15px 20px 0 20px;
}

.destinations img {
  margin: 0 auto;
  display: block;
}

.last {
  margin-bottom: 24px;
}

.navbar {
  margin: 0 auto;
  border: none;
  text-align: center;
}

.maui  {
  padding-right:20px;
}

.reykjavik {
  padding-right: 20px;
}

.maui, .reykjavik, .aspen {
  color: black;
  margin: auto;
  border: none;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px
}