
body {
  margin: 0px;
  display: inline-block;
  overflow-x: auto;
  width: 100%;
}
header {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

header #rlogo {
  width: 28px;
  padding: 0 86px 0 22px;
}

header #hamburgermenu img{
  width: 20px;
  display: block;
  align-content: center;
  justify-content: flex-end;

}

header #hamburgermenu {
  flex: 0 1 auto;
  width: 20px;
  position: absolute;
  left: 90%;
  transform: translateX(-25%);
}

button {
  width: 260px;
  margin-bottom: 20px;
}

header #logotype {
  flex: 0 1 auto;
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  text-align: center;
}

nav a {
font-family: "Roboto", sans-serif;
padding: 10px 40px 10px 0;
display: inline-block;
text-decoration: none;
justify-content: row;
font-size: 12px;
color: #2d2b2d;
font-weight: Bold;
letter-spacing: 2px;
align-items: center;
clear: both;
}

nav a:last-child {
padding-right: 0;
}

#firstHeroSlider {
  width: 100%;
  display: flex;
}

.topheader {
  background: #2d2b2d;
  height: 40px;
  display: flex ;
  justify-content: row;
  align-items: center;
  width: 100%;
}

.herocopy {
  height:190px;
}

.herocopy h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 6px;
  padding: 0 30px;
}

.herocopy p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 2px;
  padding: 0 24px;
}

.herocarousel {
  width: 100%;
  height: 660px;
  display: flex;
}

.herocarousel img {
  max-width: 100%;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
}

.herocopy button a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 12px;
  text-decoration: none;
}

.herocopy button {
  background-color: #2d2b2d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 32px;
  margin-top: 12px;
}

.secondhero {
  height: 600px;
  width: calc(100%);
  background-color: #2d2b2d;
  display: flex;
  align-items: center;
  overflow: auto;
}

.secondhero h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 6px;
  color: white;
  padding: 240px 30px 0 30px;
  text-transform: uppercase;
}

.secondhero h2:last-child {
  padding-top: 0;
}

.secondhero p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 2px;
  padding: 0 24px;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 0;
}

.secondhero div {
  background-color: #2d2b2d;
}

.datadrivenresults {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.meshedtogether {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.thejobdoneright {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.datadrivenresultsicon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 40px;
  text-align: center;
}

.meshedtogethericon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 40px;
  text-align: center;
}

.thejobdonerighticon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 40px;
  text-align: center;
}

.latestwork h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 4px;
  padding: 60px 30px;
  margin: 0;
  text-transform: uppercase;
}

.latestwork hr {
  padding: 0 30px;
}


 .secondhero p {
    padding-bottom: 20px;
  }

  .datadrivenresults {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.meshedtogether {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.thejobdoneright {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.rhheadshot {
}

.rhheadshot img {
  max-width: 320px;
  /*max-width: 25%;*/
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  margin-top: 40px;
  border: 3px solid black;
  border-radius: 100%;
}

@media screen and (min-width: 751px) {
  
  #hamburgermenu {
    display: none;
  }
}

@media screen and (max-width: 828px) {
  
  .secondhero {
    display: inline-block;
    overflow: auto;
    height: 1200px;
  }

  .herocarousel {
    height:400px;
  }

@media screen and (max-width: 750px) {
  nav {
    display: none;
  }
  .topheader {
    height: 60px;
  }
  .herocopy {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 568px) {
  .herocopy {
    padding-bottom: 58px;
  }

  .latestwork h1 {
    padding: 40px 0 30px 0;
}

@media screen and (max-width: 428px) {
  
  .latestwork h1{
    padding: 60px 0 30px 0;
  }
}

@media screen and (max-width: 403px) {
  .herocopy {
    padding-bottom: 80px;
  }
}