
body {
  margin: 0px;
  display: inline-block;
  overflow-x: auto;
  width: 100%;
}
header {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

header #rlogo {
  width: 28px;
  padding: 0 86px 0 22px;
}

header #hamburgermenu img{
  width: 20px;
  display: block;
  align-content: center;
  justify-content: flex-end;

}

header #hamburgermenu {
  flex: 0 1 auto;
  width: 20px;
  position: absolute;
  left: 90%;
  transform: translateX(-25%);
}

button {
  width: 260px;
  margin-bottom: 20px;
}

header #logotype {
  flex: 0 1 auto;
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  text-align: center;
}

nav a {
font-family: "Roboto", sans-serif;
padding: 10px 40px 10px 0;
display: inline-block;
text-decoration: none;
justify-content: center;
font-size: 12px;
color: #2d2b2d;
font-weight: Bold;
letter-spacing: 2px;
align-items: center;
clear: both;
}

nav a:last-child {
padding-right: 0;
}

nav a:hover {
color: #46505a;
}

footer {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

footer #logotypedark {
  flex: 0 1 auto;
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

footer #rlogodark {
  width: 28px;
  padding: 0 86px 0 22px;
}

.footer {
  background: white;
  height: 40px;
  display: flex ;
  justify-content: row;
  align-items: center;
  width: 100%;
}


.topheader {
  background: #2d2b2d;
  height: 40px;
  display: flex ;
  justify-content: row;
  align-items: center;
  width: 100%;
}

.herocopy {
  height:190px;
}

.herocopy h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 6px;
  padding: 0 30px;
  text-transform: uppercase;
}

.herocopy p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 2px;
  padding: 0 24px;
}

#herocarouselid {
  width: 100%;
  height: 660px;
  display: flex;
}

#herocarouselid img {
  max-width: 100%;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
}

.herocopy button a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 12px;
  text-decoration: none;
}

.herocopy button {
  background-color: #2d2b2d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 32px;
  margin-top: 12px;
}

.resume button a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 12px;
  text-decoration: none;
}

.resume button {
  background-color: #2d2b2d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 32px;
  margin-top: 80px;
}

.secondhero {
  height: 600px;
  width: calc(100%);
  background-color: #2d2b2d;
  display: flex;
  align-items: center;
  overflow: auto;
}

.secondhero h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 6px;
  color: white;
  padding: 240px 30px 0 30px;
  text-transform: uppercase;
}

.secondhero h2:last-child {
  padding-top: 0;
}

.secondhero p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 2px;
  padding: 0 24px;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 0;
}

.resume {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.resume img {
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
}

.secondhero div {
  background-color: #2d2b2d;
}

.secondheroskills {
  width: calc(100%);
  display: flex;
  align-items: center;
  overflow: auto;
}

.secondheroskills h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 6px;
  color: white;
  padding: 200px 30px 0 30px;
  text-transform: uppercase;
}


.secondheroskills p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 2px;
  padding: 0 24px;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 0;
}

.datadrivenresults {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.meshedtogether {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.thejobdoneright {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.indesignskills {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
  background-color: #330211;
  align-items: center;
  padding: 40px 0;
}

.photoshopskills {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
  background-color: #012733;
  align-items: center;
  padding: 40px 0;
}

.illustratorskills {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
  background-color: #2e1904;
  padding: 40px 0;
}

.datadrivenresultsicon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 40px;
  text-align: center;
}

.meshedtogethericon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 40px;
  text-align: center;
}

.thejobdonerighticon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 40px;
  text-align: center;
}

.indesignskillsicon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 0 40px 40px 40px;
  text-align: center;
}

.photoshopskillsicon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 0 40px 40px 40px;
  text-align: center;
}

.illustratorskillsicon {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  width: 180px;
  padding: 0 40px 40px 40px;
  text-align: center;
}

.latestwork {
  height: 600px;
  width: calc(100%);
  background-color: #2d2b2d;
  display: flex;
  align-items: center;
  overflow: auto;
}

.latestworkh1 {
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  letter-spacing: 4px;
  padding: 60px 30px;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  padding: 40px;
  text-align: center;
}

.latestwork hr {
  padding: 0 30px;
}

.secondhero p {
    padding-bottom: 20px;
  }

.datadrivenresults {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.meshedtogether {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.thejobdoneright {
  min-width: calc(100%/3);
  clear: both;
  position: relative;
}

.rhheadshot img {
  max-width: 320px;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
  margin-top: 40px;
  border: 3px solid black;
  border-radius: 100%;
}

.latestworkone {
  width: 100%;
  height: 660px;
  display: flex;
}

.latestworkone img {
  max-width: 100%;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
}

.latestworktwo {
  width: 100%;
  height: 660px;
  display: flex;
}

.latestworktwo img {
  max-width: 100%;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
}

.latestworkthree {
  width: 100%;
  height: 660px;
  display: flex;
}

.latestworkthree img {
  max-width: 100%;
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  overflow: auto;
}

@media screen and (min-width: 751px) {
  
  #hamburgermenu {
    display: none;
  }
}

@media screen and (max-width: 838px) {
  
  .secondhero {
    display: inline-block;
    overflow: auto;
    height: 1200px;
  }

  .secondheroskills {
    display: inline-block;
    overflow: none;
    height: all;
  }

  #herocarouselid {
    height: 400px;
  }

  .latestworkone {
    height: 400px;
}

  .latestworktwo {
    height: 400px;
  }
  
  .latestworkthree {
    height: 400px;
  }

  .herocopy {
    padding-bottom: 40px;
  }

}

@media screen and (max-width: 750px) {
  nav {
    display: none;
  }
  .topheader {
    height: 60px;
  }
  .herocopy {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 722px) {
   .herocopy {
    padding-bottom: 58px;
  }
}


@media screen and (max-width: 568px) {
  .herocopy {
    padding-bottom: 58px;
  }

  .latestwork h1 {
    padding: 40px 0 30px 0;
}

@media screen and (max-width: 508px) {
  
  .herocopy {
    padding-bottom: 98px;
  }
}

@media screen and (max-width: 428px) {
  
  .latestwork h1{
    padding: 40px 0 30px 0;
  }

  .secondhero {
    height: 1340px;
  }

  .secondheroskills {
    height: 1200px;
  }
}

@media screen and (max-width: 403px) {
  .herocopy {
    padding-bottom: 120px;
  }
}