body  {
  margin: 0;
}

h1, h2 {
  font-family: "Lato";
  display: inline-block;
  margin: 0;
}

h1 {
  color: #d40019;
  font-size: 54px;
  font-weight: 300;
}

header h1 {
  padding-right: 8px;
}

h1:hover  {
  color: #a00000;
}

h2 {
  color: #888;
  font-size: 27px;
  font-weight: 300;
}

p {
  color: #444;
  font-family: "Lato";
  font-size: 18px;
  line-height: 1.5;
}

p:first-letter {
  float: left;
  font-size: 108px;
  line-height: 1;
}

a {
  color: #dd0000;
}

a:hover{
  color: #a00000;
}

img {
  width: 100%;
}

nav {
  background: #000;
}

nav a {
  font-family: "Lato";
  background: #000;
  color: #fff;
  font-size: 24px;
  padding: 20px 36px 20px 36px;
  display: inline-block;
  text-decoration: none;
}

section {
  width:720px;
  padding-right:20px;
  float: left;
}

aside {
  width: 320px;
  color: #d9d9d9;
  float: right;
  padding-top: 80px;
}

aside h4 {
  font-family: "Lato";
  color: #d9D9d9;
}

aside .ad {
  padding: 32px 0;
  border-bottom: 1px solid #A9A9A9;
}


aside ul {
  color: #d40019;
  font-size: 18px;
  font-family: "Lato";
  line-height: 1.5;
}

aside a {
  text-decoration: none;
}

aside ul:hover {
  color: #A00000;
}
footer {
  margin: 0 auto;
  clear: both;
  padding-top: 40px;
}

footer a {
  color: #dd0000;
  padding: 0 10px;
  text-decoration: none;
  border-right: 1px solid black;
  font-weight: 300;
  font-family: "Lato"
}

footer a:first-child {
  padding-left: 0;
}

footer .tipsborderremove {
  border-right: none;
}

footer .copyright {
  padding-top: 30px;
  text-decoration: none;
  color: #D9D9D9;
  font-family: "lato";
}

.continues a {
  text-decoration: none;
  text-align: inline-block;

}

.container {
  width: 1080px;
  padding: 54px;
}

.continues {
  font-family: "Lato";
  font-weight: 700;
  font-color: #D9D9D9;
  text-align: right;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #A9A9A9;
}


.date {
  font-family: "Lato";
  color: #cccccc;
  font-size: 36px;
  font-weight: 300;
  padding-top: 40px;
}

.title  {
  font-family: "Lato";
  color: #000;
  font-size: 36px;
  font-weight: 300;
  padding-bottom:10px;
}

.title:hover  {
  color: #d00;
}
